*{
    margin: 0;
    padding: 0;
}
.page-bg{
    background: url("../img/background-img.png") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;

}
.login:hover{
    border-bottom: 1px solid #3cb878;
    transition: 2s;
}
.title:hover{
    color: #3cb878;
}
.image-connector-hoveric-forum-1x-2, .image-connector-hoveric-journey-1x-2, .image-connector-hoveric-caledar-1x-2
{ display: none; background: url('png.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.image-connector-hoveric-forum-1x-2 { background-position: -10px -0px; width: 28px; height: 20px; }
.image-connector-hoveric-journey-1x-2 { background-position: -10px -30px; width: 20px; height: 20px; }
.image-connector-hoveric-caledar-1x-2 { background-position: -10px -60px; width: 19px; height: 19px; }

.container{
    margin: 0 auto;
    width: 100%;
    
}

.navigation{

    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.title{

    color: #ffffff;
    text-decoration: none;
}
.image-connectorforum-img, .image-connectorjourney-img, .image-connectorcalendar-img
{ display: inline-block; background: url("../img/sprite.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: right;
margin-left: 28px;
    position: relative;
    left: 700px;
}

.image-connectorforum-img { background-position: -20px -80px; width: 28px; height: 20px;

}
.image-connectorjourney-img { background-position: -23px -0px; width: 20px; height: 20px; }
.image-connectorcalendar-img { background-position: -20px -40px; width: 19px; height: 19px; }
.login{
    position: relative;
    left: 720px;
    text-decoration: none;
    color: #39a46d;
}

.welcome{
    position: relative;
    left: 710px;
    color: white;
    margin-left: 50px;
}
.or1{
   width: 400px;
    text-align: center;

}
.or{
    display: inline-block;
    text-align: center;
    position: relative;
    left: 721px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.container1{
    margin-top: 235px;
    background: #ffffff;
    margin-left: 450px;
    width: 420px;
    height: 580px;
    flex-wrap: wrap;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.pse{
    width: 18px;
    height: 18px;
    background: #3cb878;
    position: relative;
    left: -48px;
}
.inputs{

    display: flex;
    flex-direction: column;
    border-top:  1px solid #cecece;
}
.input::placeholder{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;

    color: #bebebe;
}
.input{
    border-top: 1px solid #e9e9e9;
    border-left : 1px solid #e9e9e9;
    border-bottom : 1px solid #e9e9e9;
    border-right : 1px solid #e9e9e9;
    border-color: #e9e9e9;
    border-radius: 3px;
    font-size: 15px;
    width: 320px;
    height: 40px;
    margin-top: 15px;
}

.fb_button{
    background-color: #305db8;
    border: 1px solid #305db8;

}
.fb_button:hover{
    background-color: #264b96;
    border: 1px solid #264b96;
    transition: 2s;

}
.icon{
    padding-right: 5%;
    padding-bottom: 3%;
}
.icon::after{
    content: " ";
    border: 1px solid rgba(0,0,0,0.1);
    margin-left: 15px;
}

.btn-button{
    width: 100%;
    height: 50px;
    background-color: #3cb878;
    color: #fff;
    border: 1px solid #3cb878;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}
.btn-button:hover{
    background-color: #329a65;
    border: 1px solid #329a65;
    transition: 2s;
}
.btn {
    width: 173px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.google_button{
    background-color: #df4a32;
    border: 1px solid #df4a32;
}
.google_button:hover{
    background-color: #c3412c;
    border: 1px solid #c3412c;
    transition: 2s;
}

.header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    position: relative;
}
.login1:hover{
    text-decoration: underline;
}
.login1{
    text-decoration: none;
    margin-top: 9px;
    color: #3cb878;
    padding-left: 180px;
}
.f{display: inline-block;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 20px;
}


.inputs{
    margin-bottom: 40px;

}
.agree{
    display: inline-block;
    text-align: left;
}


.form-checkbox{

    width: 20px;
    height: 20px;
}


.checkbox_label{
    position: relative;
    top: -5px;
    margin-right: 90px;
    margin-left: 10px;
}
.form-button{
    width: 320px;
    height: 46px;
    background: #3cb878;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;


}